{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Réservez facilement, gérez efficacement – votre espace, vos horaires, votre tranquillité...</h1>
    
    <section id="resources">
        <h2>Types de ressources disponibles</h2>
        <ul>
            {% for type in resourceTypes %}
                <li>{{ type.type }}</li>
            {% else %}
                <li>Aucune ressource disponible</li>
            {% endfor %}
        </ul>
    </section>

    <section id="features">
        <h2>Fonctionnalités</h2>
        <p>Des créneaux personnalisables</p>
        <p>Sécurité et Confidentialité</p>
        <p>Des réservations en temps réel</p>
        <p>Un accès administrateur et client dédiés</p>
    </section>

    <h2> Comment ça marche ? </h2>
    <section>1. Créer un compte</section>
    <section>2. Configurer vos ressources et vos horaires</section>
    <section>3. Vos clients réservent en toute simplicité</section>

    <p>Inscrivez-vous gratuitement et testez notre outil de réservation en ligne !</p>
{% endblock %}
