{% extends 'base.html.twig' %}

{% block title %}Mon calendrier{% endblock %}

{% block body %}
    <h1>Mon calendrier (à venir)</h1>
    <p>Ici apparaîtra le calendrier interactif avec les créneaux du client.</p>
{% endblock %}
