{% extends 'base.html.twig' %}

{% block title %}Mes ressources{% endblock %}

{% block body %}
    <h1>Mes ressources (à venir)</h1>
    <p>Ici apparaîtra ls ressources du client.</p>
{% endblock %}
