{# templates/user/ressource/index.html.twig #}

<h1>Nos ressources disponibles</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.name }}</td>
                <td>{{ ressource.type }}</td>
                <td>{{ ressource.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune ressource disponible pour le moment.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
