{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
<h1>Mes Réservations</h1>

{% if bookings is empty %}
    <p>Aucune réservation trouvée.</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Créneau</th>
                <th>Statut</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.timeslot.startDatetime|date('d/m/Y H:i') }} - {{ booking.timeslot.endDatetime|date('H:i') }}</td>
                    <td>{{ booking.status }}</td>
                    <td>{{ booking.createdAt|date('d/m/Y H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
