{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la ressource</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_resources') }}">← Retour à la liste</a>
{% endblock %}
